* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: rgb(98, 0, 119);
    background: linear-gradient(205deg, rgba(98, 0, 119, 1) 10%, rgba(223, 164, 14, 1) 47%, rgba(248, 103, 125, 1) 84%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    max-width: 100px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
}

h1 {
    width: 250px;
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.content {
    width: 550px;
    height: 500px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.295);
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

input {
    width: 450px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.295);
    border: none;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    color: #ffff;
}

.btn {
    width: 60px;
    height: 42px;
    background-color: rgb(0, 151, 151);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

li {
    list-style: none;
}

.bottom {
    width: 506px;
    display: flex;
}

li {
    width: 500px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.295);
    display: flex;
    font-size: 20px;
    align-items: center;
    color: rgba(45, 182, 118, 0.745);
    justify-content: space-between;
    padding: 0px 10px;
}


li button {
    width: 50px;
    height: 26px;
    border-radius: 10px;
    background-color: rgb(0, 151, 151);
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}